.auth-wrapper {
    position: fixed;

    top: 40%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.auth-wrapper > h3 {
    margin: 0;
    user-select: none;
}

.auth-wrapper > button {
    margin-top: 0.1rem;
}

.inputs-wrapper {
    min-width: max-content;
}

.inputs-wrapper > label {
    font-size: 0.8rem;
}
